.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
android/.gradle/
android/local.properties
android/app/debug/
android/app/release/
*.iml
.DS_Store
pubspec.lock
*.g.dart.bak
